@mixin appearance($value){
    -webkit-appearance: $value;
    -moz-appearance:    $value;
    appearance:         $value;
  }
  
  @mixin align-content($value){
      -webkit-align-content:  $value;
      align-content:          $value;
  }
  
  @mixin align-items($value){
      -webkit-align-items:    $value;
      align-items:            $value;
  }
  
  @mixin align-self($value){
     -webkit-align-self: $value;
     align-self: $value;
  }
  
  @mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
  }
  
  @mixin backface-visibility($value){
      -webkit-backface-visibility: $value;
      -moz-backface-visibility:    $value;
      -ms-backface-visibility:     $value;
      backface-visibility:         $value
  }
  
  @mixin background-size($value){
    -webkit-background-size:  $value;
    -moz-background-size:     $value;
    -o-background-size:       $value;
    background-size:          $value;
  }
  
  @mixin border-radius($value){
      -webkit-border-radius: $value;
      -moz-border-radius:    $value;
      border-radius:         $value;
      -moz-background-clip:    padding;
      -webkit-background-clip: padding-box;
      background-clip:         padding-box;
  }
  
  @mixin border-gradient($from, $to, $weight: 0) {
    $mix-main: mix($from, $to);
    $mix-sub-from: mix($mix-main, $from);
    $mix-sub-to: mix($mix-main, $to);
    box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
                0 -1px 0 $weight rgba($mix-sub-from, .25),
                1px 0 0 $weight rgba($mix-sub-to, .25),
                -1px 0 0 $weight  rgba($mix-sub-from, .25),
                1px -1px 0 $weight rgba($mix-main, .5),
                -1px 1px 0 $weight rgba($mix-main, .5),
                1px 1px 0 $weight rgba($to, .75),
                -1px -1px 0 $weight rgba($from, .75);
  }
  
  @mixin box-sizing ($arg) {
      -webkit-box-sizing: $arg;
      -moz-box-sizing:    $arg;
      box-sizing:         $arg;
  }
  
  @mixin blur ($value) {
      filter:				  blur($value);
      -webkit-filter:	blur($value);
      -moz-filter:		blur($value);
      -o-filter:			blur($value);
      -ms-filter:			blur($value);
  }
  
  @mixin box-shadow ($value) {
       -webkit-box-shadow: $value;
       -moz-box-shadow: $value;
       box-shadow: $value;
  }
  
  @mixin display-flex(){
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
  }
  
  @mixin font-face($name, $path){
      @font-face {
          font-family: '#{$name}';
          src: url('#{$path}.eot');
          src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
          url('#{$path}.woff') format('woff'),
          url('#{$path}.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
      }
  }
  
  @mixin flex-init(){
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex;
  }
  
  @mixin flex-wrap($value){
      -webkit-flex-flow: $value;
      flex-flow: $value;
  }
  
  @mixin flex($arg) {
      -webkit-box-flex: $arg;
      -webkit-flex: $arg;
      -moz-box-flex: $arg;
      -ms-flex: $arg;
      flex: $arg;
  }
  
  @mixin flex-wrap($args){
      -webkit-flex-wrap: $args;
      -ms-flex-wrap: $args;
      flex-wrap: $args;
  }
  
  @mixin flex-justify-content($align){
      -webkit-justify-content: 	$align;
      justify-content: 				$align;
  }
  
  @mixin flex-item-align($align){
      -webkit-align-items: $align;
      align-items: $align;
  }
  
  @mixin gradient-bltr($bl, $md, $tr) {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$bl+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
      background: $bl; /* Old browsers */
      background: -moz-linear-gradient(45deg, $bl 0%, $md 47%, $tr 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, $bl 0%, $md 47%, $tr 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, $bl 0%, $md 47%, $tr 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bl', endColorstr='$tr', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  }
  
  @mixin justify-content($value) {
      -webkit-justify-content: $value;
      justify-content: $value;
  }
  
  @mixin keyframes($animationName) {
      @-webkit-keyframes #{$animationName} {
          @content;
      }
      @-moz-keyframes #{$animationName} {
          @content;
      }
      @-o-keyframes #{$animationName} {
          @content;
      }
      @keyframes #{$animationName} {
          @content;
      }
  }
  
  @mixin opacity ($opacity) {
      -webkit-opacity: 	$opacity;
      -moz-opacity: 		$opacity;
     opacity: 			$opacity;
  }
  
  @mixin translate3d($x, $y, $z) {
      -webkit-transform: translate3d($x, $y, $z);
      transform: translate3d($x, $y, $z);
  }
  
  @mixin transition($args) {
      transition: 			$args;
      -moz-transition: 		$args;
      -webkit-transition: 	$args;
      -ms-transition: 		$args;
      -o-transition: 		$args;
  }
  
  @mixin transition-two($one,$two) {
      transition: 			$one,$two;
      -moz-transition: 		$one,$two;
      -webkit-transition: 	$one,$two;
      -ms-transition: 		$one,$two;
      -o-transition: 		$one,$two;
  }
  
  @mixin transition-three($one,$two,$three) {
      transition: 			$one,$two,$three;
      -moz-transition: 		$one,$two,$three;
      -webkit-transition: 	$one,$two,$three;
      -ms-transition: 		$one,$two,$three;
      -o-transition: 		$one,$two,$three;
  }
  
  @mixin transition-duration($value){
     -webkit-transition-duration: $value;
     -moz-transition-duration: $value;
     -o-transition-duration: $value;
     transition-duration: $value;
  }
  
  @mixin transition-delay($value){
      -webkit-transition-delay: $value;
      -moz-transition-delay: $value;
      -o-transition-delay: $value;
      transition-delay: $value;
  }
  
  @mixin transition-property($value){
     -webkit-transition-property: $value;
     -moz-transition-property: $value;
     -o-transition-property: $value;
     transition-property: $value;
  }
  
  @mixin transition-timing-function($timing){
      -webkit-transition-timing-function: $timing;
      -moz-transition-timing-function: $timing;
      -o-transition-timing-function: $timing;
      transition-timing-function: $timing;
  }
  
  @mixin transform($string){
      -webkit-transform:	$string;
      -moz-transform:		$string;
      -ms-transform:		$string;
      -o-transform:			$string;
      transform:				$string;
  }
  
  // custom mixin by Kesato
  @mixin fullCenter() {
      @include justify-content(center);
      @include align-items(center);
      @include display-flex();
  }
  
  @mixin flex-direction($value) {
      -webkit-flex-direction: $value; /* Safari 6.1+ */
      flex-direction: $value;
  }
  
  @mixin flex-wrap($value) {
    -webkit-flex-wrap: $value;
    flex-wrap: $value;
  }
  
  @mixin gradient($direction, $first, $second) {
    background: linear-gradient($direction, $first, $second);
    /* Standard syntax */
    
    background: -webkit-linear-gradient($direction, $first, $second);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient($direction, $first, $second);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient($direction, $first, $second);
    /* For Firefox 3.6 to 15 */
  }
  